---
import logoStar from '../assets/logo-star.svg'
import svgPinkStar from '../assets/pink-star.svg'
import { author, buy } from '../sample'

const links = [
    { name: 'Home', path: '/', target: '_self' },
    { name: 'Blog', path: '/blog/', target: '_self' },
    { name: 'Download CV', path: '/Sebastian_Utoiu_CV_EN.pdf', target: '_blank' },
]

const { pathname } = Astro.url
---

<header class="relative border-b-3 p-7 overflow-hidden">


    <div class="flex border-3 border-black bg-white max-w-[310px] md:max-w-xl m-auto relative z-10">
        <!-- top boxes -->
        <div class="size-2 bg-white border-2 border-black absolute -top-2 -right-2"></div>
        <div class="size-2 bg-white border-2 border-black absolute -top-2 -left-2"></div>

        <!-- bottom boxes -->
        <div class="size-2 bg-white border-2 border-black absolute -bottom-2 -left-2"></div>
        <div class="size-2 bg-white border-2 border-black absolute -bottom-2 -right-2"></div>

        <nav class="flex w-full items-center p-2 md:p-0">
            <div class="flex-1 font-bold">
                <a href="/" class="flex items-center gap-2 pl-3">
                    <img src={logoStar.src} alt="logo" width="26" /> {author.nickname}
                </a>
            </div>
            <a href="#" class="flex md:hidden" id="menu-open">
                <i class="ri-menu-2-line text-2xl"></i>
            </a>
            <ul class="hidden md:flex">
                {links.map(item => (
                    <li class="border-l-2 border-black p-3 py-4">
                        <a
                            href={item.path}
                            target={item.target}
                            download={item.name === 'Download CV' ? 'Sebastian_Utoiu_CV_EN.pdf' : undefined}
                            class="whitespace-nowrap relative flex items-center before:absolute before:left-0 before:bottom-1 before:h-[8px] before:w-0 before:bg-[var(--yellow)] before:transition-all before:duration-300 hover:before:w-full"
                        >
                            <span class="relative z-5">{item.name} {pathname == item.path ? '//' : ''}</span>
                        </a>
                    </li>
                ))}
            </ul>
        </nav>
    </div>
  </header>

  <div class="block md:hidden fixed left-0 top-0 h-full w-full bg-white z-20 p-3 transition-all duration-300 -translate-x-[100%]" id="menu-content">
    <div class="flex p-6">
        <h3 class="flex-1 font-bold uppercase">Menu</h3>
        <a href="#" id="menu-close">
           <i class="ri-close-line text-3xl"></i>
        </a>
    </div>
    <ul class="flex flex-col justify-center items-center gap-4 md:hidden">
        {links.map(item => (
            <li class="py-3">
                <a
                    href={item.path}
                    target={item.target}
                    download={item.name === 'Download CV' ? 'Sebastian_Utoiu_CV_EN.pdf' : undefined}
                    class="p-3 whitespace-nowrap text-2xl font-bold"
                >
                    {item.name} {pathname == item.path ? '//' : ''}
                </a>
            </li>
        ))}
    </ul>
  </div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    const menuContent = document.querySelector('#menu-content')
    const menuOpen = document.querySelector('#menu-open')
    const menuClose = document.querySelector('#menu-close')


    menuOpen?.addEventListener('click', (e) => {
        e.preventDefault()
        menuContent?.classList.remove('-translate-x-[100%]')
    })

    menuClose?.addEventListener('click', (e) => {
        e.preventDefault()
        menuContent?.classList.add('-translate-x-[100%]')
    })


    menuContent?.querySelectorAll('li a').forEach(item => {
        item.addEventListener('click', (e) => {
            menuContent?.classList.add('-translate-x-[100%]')
        })
    })
})
</script>